.App {
    text-align: center;
}

.App-logo {
    height: 20px;
}

.header {
    background-color: #275d38;
    height: 70px;
}

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.backButton {
    background-color: white;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    width: 90px;
    height: 45px;
    border-radius: 7px;
    margin-left: 10px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 45px;
    width: 180px;
}

.site-title {
    color: goldenrod;
    font-size: 23px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    display: inline-block;
    text-align: center;
    margin-left: 570px;
}

.questionMark {
    width: 45px;
    height: 45px;
    margin-left: 910px;
}

.guideWrapper {
    width : 500px;
    min-height: 500px;
    border: black solid 2px;
    margin-top: 10px;
    margin-left: 1760px;
    padding: 20px;

    position: fixed;
    z-index: 9999;
    background-color: white;
    opacity: 1;
}

.structureWrapper {
    margin-left: 20px;
    margin-right: 20px;
}


.indvPlan {
    /* Text color of each term div*/
    color: white;
    /* Width of eachterm div*/
    width: 100px;
    height: 38px;

    /* Font of text inside term div*/
    font-size: 14px;
    /*Spacing on all sides of text inside a term div*/
    padding: 10px;
    /* Make the term divs rounded corners*/
    border-radius: 5px;
    /*Spacing between terms in term palette*/
    margin-left: 5px;

    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}

.planPalette {
    /* Spacing on all sides of outside of Term palette*/
    margin: 10px 10px 10px 15px;

    min-width: 300px;
    height: auto;
    display: flex;
}

.indivCourseGroup {

    /* Text color of each term div*/
    color: white;
    /* Width of eachterm div*/
    width: 52px;
    height: 26px;

    /* Font of text inside term div*/
    font-size: 14px;
    /*Spacing on all sides of text inside a term div*/
    padding: 7px;
    /* Make the term divs rounded corners*/
    border-radius: 5px;
    /*Spacing between terms in term palette*/
    margin-left: 5px;

    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseGroupPalatte {

    /* Spacing on all sides of outside of Term palette*/
    margin-left: 20px;
    margin-right: 15px;
    width: 200px;
    height: auto;
    display: flex;
}

.allGroups {

    margin: 10px 10px 10px 25px;
    display: flex;
}

.indvGradAttribute {
    /* Background color of each GA div*/
    background-color: rgb(140, 101, 101);

    /* Text color of each GA div*/
    color: white;

    /* Width of each GA div*/
    width: 120px;
    height: 30px;

    /* Font of text inside GA div*/
    font-size: 15px;

    /*Spacing on all sides of text inside a GA div*/
    padding: 10px;

    /* Make the GA divs rounded corners*/
    border-radius: 7px;

    /*Spacing between GA in term palette*/
    margin-left: 5px;
    margin-bottom: 5px;

    /* Looks good when cursor points to a GA div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}


.catagoryWrapper {

    margin-right: 20px;
    margin-left: 20px;

    /* overflow: scroll; */
    height: auto;
}



.GAWrapper {

    /* Spacing on all sides of outside of Term palette*/
    margin-right: 20px;
    margin-left: 20px;

    /* Spacing on all sides of inside of term palette*/
    padding: 20px;

    /*Width and height of term palette*/
    /* min-width: 600px; */
    width: 600px;
    height: 240px;

    display: flex;
    vertical-align: top;
    /* flex-direction: column; */

    /* overflow: scroll; */
}


.indvCatagory {
    /* Background color of each category div*/
    background-color: rgb(140, 101, 101);
    /* Text color of each category div*/
    color: white;
    /* Width of each category div*/
    width: 120px;
    height: 30px;

    /* Font of text inside category div*/
    font-size: 15px;
    /*Spacing on all sides of text inside a category div*/
    padding: 10px;
    /* Make the category divs rounded corners*/
    border-radius: 10px;
    /*Spacing between terms in category palette*/
    margin-left: 5px;
    margin-bottom: 5px;

    /* Looks good when cursor points to a category div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}

.catagoryWrapper {

    margin-left: 30px;
    margin-right: 150px;

    /* Spacing on all sides of inside of term palette*/
    padding: 15px;

    width: 470px;
    height: 240px;

    display: flex;

}

.lowerStuff {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 80px 5px;
    /* overflow: inline-block; */
}


.gradAttributeLegend {
    /* margin-top: 50px; */
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}

.ga-legend {
    display: flex;
    vertical-align: top;

    margin-right: 20px;
    margin-left: 20px;
}



.part {
    margin-left: 10px;
    /* display: inline-block; */
}









@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}