.App {
    text-align: center;
}

.App-logo {
    height: 20px;
}

.header {
    background-color: #275d38;
    height: 70px;
}

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
    /* justify-content: space-evenly; */

    margin-left: 10%;
    margin-right: 10%;
}

.backButton {
    background-color: white;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    width: 90px;
    height: 45px;
    border-radius: 7px;
    margin-left: 10px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 45px;
    width: 180px;
}

.site-title {
    color: goldenrod;
    font-size: 23px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    display: inline-block;
    text-align: center;
    justify-content: center;
    /* margin-left: 570px; */

    white-space: nowrap;
    flex: auto;
    margin-right: 15%;
}

.questionMark {
    width: 45px;
    height: 45px;
    margin-right: 10px;

    float: right;
    right: 10px;
    position: absolute;
}

.guideWrapper {
    width : 500px;
    min-height: 500px;
    border: black solid 2px;
    margin-top: 10px;
    padding: 20px;


    right: 10px;
    position: absolute;
    z-index: 9999;

    background-color: white;
    opacity: 1;
}

.structureWrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.pageTitle {
    margin: 40px 10px 30px 20px;
    color: rgb(39, 93, 56);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.allPlans {
    margin: 10px 10px 10px 20px;
}

.planPalette {
    /* Spacing on all sides of outside of Term palette*/
    margin: 10px 10px 10px 20px;

    min-width: 300px;
    height: auto;
    display: flex;
}

.indvPlan {
    /* Text color of each term div*/
    color: white;
    
    width: 100px;           /* Width of eachterm div*/
    height: 38px;
    font-size: 14px;        /* Font of text inside term div*/
    padding: 10px;          /*Spacing on all sides of text inside a term div*/
    border-radius: 5px;     /* Make the term divs rounded corners*/
    margin-left: 5px;       /*Spacing between terms in term palette*/

    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}


.allGroups {
    margin: 10px 10px 10px 20px;
    display: flex;
}

.courseGroupPalatte {
    /* Spacing on all sides of outside of Term palette*/
    margin-left: 20px;
    margin-right: 15px;
    width: 200px;
    height: auto;
    display: flex;
}

.indivCourseGroup {
    /* Text color of each term div*/
    color: white;
    
    width: 52px;            /* Width of eachterm div*/
    height: 26px;
    font-size: 14px;        /* Font of text inside term div*/
    padding: 7px;           /*Spacing on all sides of text inside a term div*/
    border-radius: 5px;     /* Make the term divs rounded corners*/
    margin-left: 5px;       /*Spacing between terms in term palette*/

    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}



.lowerStuff {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 80px 5px;

    justify-content: flex-start;

    width: 100%;
    height: 100%;
    overflow: hidden;
}


.catagoryWrapper {
    /* Spacing on all sides of inside of term palette*/
    padding: 15px;
    min-width: 100px;
    max-width: 600px;

    display: flex;
    overflow: hidden;
}

.courseCategoryPalette {
    margin: 10px 10px 10px 15px;
}


.indvCatagory {
    /* Background and text color of each category div*/
    background-color: rgb(140, 120, 120);
    color: white;
    
    width: 120px;           /* Width of each category div*/
    height: 30px;
    font-size: 15px;        /* Font of text inside category div*/
    padding: 10px;          /*Spacing on all sides of text inside a category div*/
    border-radius: 10px;    /* Make the category divs rounded corners*/
    margin-left: 5px;       /*Spacing between terms in category palette*/
    margin-bottom: 5px;

    /* Looks good when cursor points to a category div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}


.GAWrapper {
    /* Spacing on all sides of inside of term palette*/
    padding: 15px;

    display: flex;
    vertical-align: top;

    overflow: hidden;
    max-width: 600px;
}

.gradAttributePalette {
    margin: 10px 10px 10px 15px;
}

.indvGradAttribute {
    /* Background color of each GA div*/
    background-color: rgb(140, 120, 120);

    /* Text color of each GA div*/
    color: white;

    width: 120px;           /* Width of each GA div*/
    height: 30px;
    font-size: 15px;        /* Font of text inside GA div*/
    padding: 10px;          /* Spacing on all sides of text inside a GA div*/
    border-radius: 7px;     /* Make the GA divs rounded corners*/
    margin-left: 5px;       /* Spacing between GA in term palette*/
    margin-bottom: 5px;

    /* Looks good when cursor points to a GA div*/
    cursor: pointer;
    text-align: center;
    float: left;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}


.gradAttributeLegend {
    margin: 10px 10px 10px 10px;
    max-width: 500px;
}

.gradLegendWrapper {
   /* Spacing on all sides of inside of term palette*/
   padding: 15px;
   min-width: 200px;
   vertical-align: top;
}


.part {
    margin-left: 10%;
    margin-right: 10%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}