.indvProgram {
    color: white;


    width: 200px;
    height: 80px;
    margin: 10px;

    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}


.row0 {
    background-color: rgb(140, 101, 101);
}

.row1 {
    background-color: rgb(100, 81, 120);
}

.row2 {
    background-color: rgb(106, 116, 65);
}

.row3 {
    background-color: rgb(97, 130, 164);
}


.indvPlan {

    /* Background color of each term div*/
    background-color: rgb(140, 101, 101);

    /* Text color of each term div*/
    color: white;

    /* Width of eachterm div*/
    width: 130px;
    height: 30px;

    /* Font of text inside term div*/
    font-size: 15px;


    /*Spacing on all sides of text inside a term div*/
    padding: 10px;

    /* Make the term divs rounded corners*/
    border-radius: 5px;

    /*Spacing between terms in term palette*/
    margin-top: 5px;
    margin-bottom: 5px;

    /* Looks good when cursor points to a term div*/
    cursor: pointer;

    text-align: center;
}


.wrapperTermProgram {
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-family: -apple-system;
}

.logoWrapper {

    display: flex;
    justify-content: center;
}


.frontPageWrapper {
    padding-top: 10px;
    margin: 10px;
}


.frontPageTextWrapper {
    display: flex;
    justify-content: center;
}
