.indvProgram {
    color: white;


    width: 200px;
    height: 70px;
    margin: 10px;

    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}


.row0 {
    background-color: rgb(140, 101, 101);
}

.row1 {
    background-color: rgb(100, 81, 120);
}

.row2 {
    background-color: rgb(106, 116, 65);
}

.row3 {
    background-color: rgb(97, 130, 164);
}

.row4 {
    background-color: goldenrod;
}


.wrapperTermProgram {
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-family: -apple-system;
}

.logoWrapper {

    display: flex;
    justify-content: center;
}


.frontPageWrapper {
    padding-top: 10px;
    margin: 10px;
}


.frontPageTextWrapper {
    display: flex;
    justify-content: center;
}
