.indvProgram {
    width: 250px;
    height: 70px;
    margin: 10px;

    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
    display: inline-block;

    background-color: lightgray;
}

.indvProgram:hover {
    background-color: #7B7B7B;
}

.wrapperTermProgram {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: #275d38;
    font-weight: 500;
}

.logoWrapper {

    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}


.frontPageWrapper {
    padding-top: 10px;
    margin: 10px;
}


.frontPageTextWrapper {
    display: flex;
    justify-content: center;

    font-family: 'Roboto', sans-serif;

    margin-bottom: 20px;
}
