body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 100%;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.structureTitle {
    width: 527px;
    height: 68px;
    color: #275D38;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
}

.structureDescriptionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.groupButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #275d38 solid 3px;
    text-align: center;
    width: 80px;
    height: 40px;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;

    margin-left: 500px;
}

.groupCheckbox {
    text-align: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 10px 0 0;
    accent-color: #275d38;
}

.groupCheckbox:hover {
    background-color: #ccc;
}

.structureDescription {
    color: #464646;
    height: 30px;
    width: auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: -15px;
}

.structureWrapper {
    margin-top: 40px;
    min-height: 600px;
}

.termWrapper {
    display: flex;
    flex-direction: row;

    overflow-x: auto;

    padding-left: 185px;
    padding-right: 10%;
    padding-bottom: 40px;
}

.term {
    text-align: center;
    /* Spacing on all sides of outside of Term palette*/
    margin-right: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* width: 156px; */
    min-height: 300px;
    height: auto;
    margin-top: 15px;

    max-width: 248px;

    border: 1px solid rgb(235, 235, 235);
    /* padding: 16px; */

    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.resultsTerm {
    text-align: center;
    /* Spacing on all sides of outside of Term palette*/
    margin-right: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* width: 156px; */
    min-height: 300px;
    height: auto;
    margin-top: 15px;

    max-width: 248px;

    border: 1px solid rgb(235, 235, 235);
    /* padding: 16px; */

    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.termTitle {
    /* font-family: 'Roboto';  */
    font-size: '30px';
    text-align: left;

    background-color: #F7F7F7;
    padding: 15px;
}

.resultsTermTitle {
    /* font-family: 'Roboto';  */
    font-size: '20px';
    text-align: left;

    background-color: #F7F7F7;
    padding: 15px;
    overflow-wrap: break-word;
}

.courseWrapper {
    margin: 15px;

    /* Spacing on all sides of inside of term palette*/
    /* padding: 10px; */
    display: inline-block;
    /* width: 140px; */
    min-height: 200px;
    height: auto;

    width: 183px;
}

.indivCourses {
    /* border: 2px solid black; */
    background-color: rgb(206, 212, 218); /* Background color of each term div*/
    color: rgb(0, 0, 0); /* Text color of each term div*/

    width: 180px;/* Width of eachterm div*/
    height: 75px;
    font-size: 18px; /* Font of text inside term div*/
    border-radius: 1px; /* Make the term divs rounded corners*/
    margin-top: 10px;
    margin-bottom: 20px; /*Spacing between terms in term palette*/
    cursor: pointer; /* Looks good when cursor points to a term div*/
    text-align: center;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultsCourses {
    /* border: 2px solid black; */
    background-color: rgb(206, 212, 218); /* Background color of each term div*/
    color: rgb(0, 0, 0); /* Text color of each term div*/

    width: 80px;/* Width of eachterm div*/
    height: 50px;
    font-size: 14px; /* Font of text inside term div*/
    border-radius: 1px; /* Make the term divs rounded corners*/
    margin-top: 5px;
    margin-bottom: 5px; /*Spacing between terms in term palette*/
    cursor: pointer; /* Looks good when cursor points to a term div*/
    text-align: center;

    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.courseName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseGroup {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indivCourses:hover {
    background-color: rgb(180, 186, 192);
}

.resultsCourses:hover {
    background-color: rgb(180, 186, 192);
}

.orCaseDiv {
    border: 2px solid rgb(180, 186, 192);
    width: 155px;

    height: auto;
    padding: 10px;
    /* margin-top: -20px; */
    margin-bottom: 20px;
    /* margin-left: -19px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indivOrCourse {
    /* border: 2px solid black; */
    /* Background color of each term div*/
    background-color: rgb(206, 212, 218);
    /* Text color of each term div*/

    color: rgb(0, 0, 0);
    /* Width of eachterm div*/
    width: 155px;/* Width of eachterm div*/
    height: 65px;
    /* Font of text inside term div*/
    font-size: 18px;
    /* Make the term divs rounded corners*/
    /* border-radius: 5px; */
    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;


    /* Center text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orCircle {
    border: 2px black solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px 10px 60px;
}

.orText {
    color: rgb(0, 0, 0);
    /* font-family: "Times New Roman", serif; */
    /* font-weight: bold; */

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 10px 10px 10px;
    font-size: 18px;
}

.description {
    background-color: #edf2f5;
    color: black;
    width: 700px;
    min-height:50px;
    border: 1px solid black;
    position: absolute;
    z-index: 30000;
    border-radius: 6px;
    white-space: pre-line;

    padding: 5px;
}

.extendedName {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;
    align-items: center;
}

.description b {
    font-size: 21px;
    text-align: left;
}


.descriptionDetails {
    border-top: black 2px solid;
    font-size: 17px;
    text-align: left;

    margin-top: -15px;
}