.pageTitleScheduler {
    margin: 25px 0px 40px 0px;
    color: rgb(39, 93, 56);
    font-size: 53px;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}

.planTube {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    width: 254px;
    height: 70px;
    border: 1px solid #CED4DA;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 60px;
}

.planText {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    margin-left: 20px;
    margin-bottom: 10px;
}

.courseGroupText {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-left: 20px;
}

.exportButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #275d38 solid 3px;
    text-align: center;
    height: 70px;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    width: 100%;
}

.termTube {
    display: flex;
    flex-direction: row;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #275D38;

    overflow-x: auto;
}

.indivTerm, .selectedIndivTerm {
    margin-right: 5px;
    padding: 15px;

    cursor: pointer;
    white-space: nowrap;
}

.selectedIndivTerm {
    background-color: #E4E8EC;
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-radius: 4px 4px 0 0;
}

.mainTable {
    border: 1px solid #C3C3C3;
    border-radius: 0px 6px 6px 6px;
    display: flex;
    padding: 20px 20px 20px 20px;
    flex-direction: row;

    margin-bottom: 100px;

    width: 1460px;

    background-color: #E4E8EC;
}

.timeTableOptions {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.coursePalette, .seminarsPalette, .labsPalette, .searchPalette {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    background-color: #F7F7F7;

    color: #275D38;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    /*border-radius: 4px 4px 0 0;*/
}

.coursePaletteTitle, .seminarsPaletteTitle, .labsPaletteTitle, .searchPaletteTitle {
    width: 200px;
    height: 43px;

    border-right: 1px solid #7B7B7B;

    padding-left: 15px;

    display: flex;
    align-items: center;
}

.coursePaletteDropDownButton, .seminarsPaletteDropDownButton, .labsPaletteDropDownButton, .searchPaletteDropDownButton {
    width: 45px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursePalette {
    border-radius: 4px 4px 0 0;
}

.searchPalette, .searchPalette.dropdownOpen {
    border-bottom: 1px solid #7B7B7B;
}

.searchPalette.dropdownOpen {
    border-radius: 0 0 4px 4px;
}

.coursesInfo {
    background-color: #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-top: 1px solid #7B7B7B;
    padding: 25px 15px 10px 30px;
}

.coursesInfoBottom {
    background-color: #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    border-radius: 0 0 4px 4px;

    padding: 15px 15px 10px 15px;
}

.indivLecture, .indivLab, .indivSeminar {
    width: 200px;
    height: 70px;

    background-color: #275d38;

    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.empty {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plus, .minus {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.timeTable {
    border-collapse: collapse;
}

.tableWrapper {
    border-radius: 6px;
    border: 1px solid #C5C5C5;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #FFFFFF;
}

.headerCell, .headerTimeCell, .topCell, .bottomCell, .timeCell {

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    position: relative;

    text-align: center;
}

.topCell, .timeCell {
    border-top: 2px solid #CECECE;
}

.timeCell, .headerTimeCell {
    width: 150px;
    height: 60px;
}

.headerCell {
    width: 200px;
    height: 60px;
}

.topCell, .bottomCell {
    width: 200px;
    height: 40px;
}

.innerCellStart, .innerCellEnd, .innerCellStartConflict, .innerCellEndConflict {
    height: 36px;
    width: 95%;
    margin-left: 2.5%;

    display: flex;
    justify-content: center;
}

.innerCell, .innerCellConflict {
    height: 40px;
    width: 95%;
    margin-left: 2.5%;

    display: flex;
    justify-content: center;

    box-shadow: 0 5px, 0 -5px;
}

.innerCellStart, .innerCellStartConflict {
    margin-top: 4px;
    box-shadow: 0 5px;
}

.innerCellEnd, .innerCellEndConflict {
    margin-bottom: 4px;
    box-shadow: 0 -5px;
}

.content {
    position: absolute;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;

    margin-top: 10px;
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}