.pageTitleScheduler {
    margin: 25px 0px 40px 0px;
    color: rgb(39, 93, 56);
    font-size: 53px;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}

.scheduleDescription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px 10px 20px 0px;
}

.optionsWrapper {
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin-bottom: 25px;
}

.optionsButtonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allOptions {
    display: flex;
    flex-direction: column;
}

.planDisplayWrapper {
    margin-right: 300px;
    min-width: 600px;
}

.planTube {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    width: 254px;
    height: 70px;
    border: 1px solid #CED4DA;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 60px;
}

.planText {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    margin-left: 20px;
}

.courseGroupText {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-left: 20px;
    margin-top: 10px;
}

.exportButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #275d38 solid 3px;
    text-align: center;
    height: 70px;
    width: 180px;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: white;
    margin-right: 15px;
}

.termTube {
    display: flex;
    flex-direction: row;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #275D38;

    overflow-x: auto;
}

.indivTerm, .selectedIndivTerm {
    margin-right: 5px;
    padding: 15px;

    cursor: pointer;
    white-space: nowrap;
}

.selectedIndivTerm {
    background-color: #E4E8EC;
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-radius: 4px 4px 0 0;
}

.mainTable {
    border: 1px solid #C3C3C3;
    border-radius: 0px 6px 6px 6px;
    display: flex;
    padding: 20px 20px 20px 20px;
    flex-direction: row;

    margin-bottom: 100px;

    width: 1460px;

    background-color: #E4E8EC;
}

.timeTableOptions {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.coursePalette, .seminarsPalette, .labsPalette, .searchPalette, .createPalette {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    background-color: #F7F7F7;

    color: #275D38;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    /*border-radius: 4px 4px 0 0;*/
}

.coursePaletteTitle, .seminarsPaletteTitle, .labsPaletteTitle, .searchPaletteTitle, .createsPaletteTitle {
    width: 200px;
    height: 43px;

    border-right: 1px solid #7B7B7B;

    padding-left: 15px;

    display: flex;
    align-items: center;
}

.coursePaletteDropDownButton, .seminarsPaletteDropDownButton, .labsPaletteDropDownButton, .searchPaletteDropDownButton, .createsPaletteDropDownButton {
    width: 45px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursePalette {
    border-radius: 4px 4px 0 0;
}

.searchPalette, .searchPalette.dropdownOpen {
    border-bottom: 1px solid #7B7B7B;
}

.searchPalette.dropdownOpen {
    border-radius: 0 0 4px 4px;
}

.coursesInfo {
    background-color: #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-top: 1px solid #7B7B7B;
    padding: 25px 15px 10px 30px;
}

.searchBarInfo {
    background-color: #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-top: 1px solid #7B7B7B;
    padding: 15px 0px 10px 15px;
}

.searchBarCoursesInfo {
    background-color: #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    border-radius: 0 0 4px 4px;

    padding: 15px 14px 15px 14px;
}

.innerButtonDiv {
    background-color: #275d38;
    color: white;
    padding: 0 10px 20px 10px;
}

.indivLecture, .indivLab, .indivSeminar {
    width: 200px;
    height: 70px;

    background-color: #275d38;

    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.popUpDescription {
    width: 450px;
    min-height: 50px;
    z-index: 9999;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
}

.popUpExtendedName {
    padding-bottom: 10px;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: -10px;

    font-size: 17px;
}

.popUpCourseDetails {
    margin-top: 10px;
    white-space: pre-line;
}

.empty {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plus, .minus {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.partOne {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.partOneTitle {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    text-align: center;
}

.preferredTime {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.preferredTimeTitle {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.fromSection, .toSection {
    position: relative;

    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    cursor: pointer;
}

.fromTime{
    margin-left: 20px;
}

.toTime {
    margin-left: 41px;
}

.fromPart {
    background-color: white;
    width: 80px;
    height: 23px;
    border: #7B7B7B 1px solid;

    color: black;
    text-align: center;
}

.time {
    width: 100%;
    height: 20px;
}

.time:hover {
    color: white;
    background-color: #7B7B7B;
}

.timeDivWrapper {
    background-color: white;
    color: #275d38;
    overflow-y: auto;
    height: 120px;
    width: 80px;
    border-radius: 6px;

    margin-top: 3px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 2000;
}

.generateButton {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: #275d38;
    height: 40px;
    font-size: 18px;

    align-items: center;

    border: #7B7B7B solid 2px;
    border-radius: 4px;
    margin: auto 20px;

    cursor: pointer;
}

.timeTable {
    border-collapse: collapse;
}

.tableWrapper {
    border-radius: 6px;
    border: 1px solid #C5C5C5;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #FFFFFF;
}

.headerCell, .headerTimeCell, .topCell, .bottomCell, .timeCell {

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    position: relative;

    text-align: center;
}

.topCell, .timeCell {
    border-top: 2px solid #CECECE;
}

td {
    position: relative;
}

.timeCell, .headerTimeCell {
    width: 150px;
    height: 60px;
}

.headerCell {
    width: 200px;
    height: 60px;
}

.topCell, .bottomCell {
    width: 200px;
    height: 40px;
}

.innerCellStart, .innerCellEnd, .innerCellStartConflict, .innerCellEndConflict {
    height: 36px;
    width: 95%;
    margin-left: 2.5%;

    display: flex;
    justify-content: center;
}

.innerCell, .innerCellConflict {
    height: 40px;
    width: 95%;
    margin-left: 2.5%;

    display: flex;
    justify-content: center;

    box-shadow: 0 5px, 0 -5px;
}

.innerCellStart, .innerCellStartConflict {
    margin-top: 4px;
    box-shadow: 0 5px;
}

.innerCellEnd, .innerCellEndConflict {
    margin-bottom: 4px;
    box-shadow: 0 -5px;
}

.content {
    position: absolute;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;

    margin-top: 10px;
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.modal {
    position: relative; /* 设置relative，使得close按钮可以相对于这个modal定位 */
    width: 15%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal-close-button {
    position: absolute; /* 使得按钮脱离文档流并且可以被定位在modal的右上角 */
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}